# .env.example

# "development" or "production"
NODE_ENV="development"

NEXT_PUBLIC_CAMPUS="University Name"

 # email domain for the campus
NEXT_PUBLIC_CAMPUS_EMAIL="university.edu"
COMPOSE_PROJECT_NAME="glow"

# if you wanted a preview version at origin/beta, put "/beta"
APP_PREFIX=""
 # for nginx to route port (external)
CLIENT_PORT="3000"
 # origin of website
ORIGIN="http://localhost:3000"
 # structure like this: ORIGIN + APP_PREFIX + "/api/auth"
AUTH_URL="http://localhost:3000/api/auth"

# others
# secret needed for auth js (can be anything, but should be kept secret)
AUTH_SECRET="secret hash"
# Application (client) ID
AUTH_MICROSOFT_ENTRA_ID_ID="some client id" 
 # Secret value made in 'Certificates & secrets' in Microsoft Entra ID
AUTH_MICROSOFT_ENTRA_ID_SECRET="some value"

 # Gemini API key
GEMINI_API_KEY="gemini-api-key"
 # OpenAI API key, also used for traces
OPENAI_API_KEY="openai-api-key"
 # secret key for signing API keys (JWT)
SECRET_KEY="a secret hash used for signing API keys"

# to wipe database on startup
CLEAN_DB="true"
COMPOSE_BAKE="true"

# postgres database configuration
DB_USER="myuser"
DB_PASSWORD="mypassword"
DB_NAME="mydb"

# ----LOCAL CONFIGURATION (You shouldn't have to change this) ----
DB_PORT="5432"
DB_HOST="localhost"

# server
INTERNAL_API_BASE="http://localhost:8000"
NEXT_PUBLIC_API_BASE="http://localhost:8000"