# requirements.txt
fastapi==0.116.0
uvicorn[standard]==0.35.0

python-dotenv==1.1.1
sqlmodel==0.0.24
openai==1.93.1
openai-agents[litellm]==0.0.19

python-docx==1.1.0
lxml==6.0.0
numpy==1.24.4
psycopg2-binary==2.9.10
gunicorn==23.0.0
pypdf==5.9.0

python-socketio==5.10.0
redis==5.0.4
fastmcp==2.10.2

cryptography==44.0.2
click==8.1.7
cffi==1.17.1

starlette==0.46.2
pydantic==2.11.7
requests==2.32.4
